services:
  # === POSTGRES ===
  postgres:
    image: postgres:16-alpine
    container_name: splitexpenses-postgres
    environment:
      - POSTGRES_DB=split_expenses
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - splitexpenses-network


  # === API ===
  api:
    image: loreappe/shared-expense-api:latest
    container_name: splitexpenses-api
    depends_on:
      - postgres
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:5000
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=split_expenses;Username=postgres;Password=postgres
      - Jwt__Key=${JWT_SECRET_KEY}
      - Jwt__Issuer=SplitExpensesApi
      - Jwt__Audience=SplitExpensesApp
      - Jwt__ExpiryMinutes=60
      - Jwt__RefreshTokenExpiryDays=30
      - Google__ClientId=${GOOGLE_CLIENT_ID}
      - Google__ClientSecret=${GOOGLE_CLIENT_SECRET}
      - Firebase__ProjectId=${FIREBASE_PROJECT_ID}
      - Firebase__CredentialsPath=/app/firebase-credentials.json
    restart: unless-stopped
    networks:
      - splitexpenses-network
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sharedexpenseapi.rule=Host(`sharedexpenseapi.loreappe.work`)"
      - "traefik.http.routers.sharedexpenseapi.entrypoints=websecure"
      - "traefik.http.routers.sharedexpenseapi.tls=true"
      - "traefik.http.routers.sharedexpenseapi.tls.certresolver=le"
      - "traefik.http.services.sharedexpenseapi.loadbalancer.server.port=5000"

  # === TRAEFIK ===
  traefik:
    image: traefik:v3.0
    container_name: traefik
    restart: unless-stopped
    command:
      - "--log.level=DEBUG"
      - "--api.dashboard=true"

      # Provider Docker
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=proxy"

      # Entrypoints
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"

      # Let's Encrypt (solo DNS-01 Cloudflare)
      - "--certificatesresolvers.le.acme.email=TUO_EMAIL@DOMINIO.IT"
      - "--certificatesresolvers.le.acme.storage=/letsencrypt/acme.json"
      - "--certificatesresolvers.le.acme.dnschallenge=true"
      - "--certificatesresolvers.le.acme.dnschallenge.provider=cloudflare"

    environment:
      - CF_DNS_API_TOKEN=${CF_DNS_API_TOKEN}

    ports:
      - "8080:80"
      - "10443:443"

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./letsencrypt:/letsencrypt

    networks:
      - proxy

# === NETWORKS ===
networks:
  splitexpenses-network:
    driver: bridge
  proxy:
    external: true


# === VOLUMES ===
volumes:
  postgres_data:
    driver: local